@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.app {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

.app-container {
    flex: 6;
}

.pages {
    background-color: #F8F9FD;
    padding: 20px;
    height: 92dvh;
    overflow-y: scroll !important;
}